
<h2>What would you like to do with your tasks?</h2>

<div class="user-choice">
  <form action="" method="put">

      <label class="mark-complete"><span  class="text">Complete</span><input type="radio"   name="edit_tasks_list"  onclick="this.form.submit()"  value="mark_completed" alt="Mark tasks complete"></label>



      <label class="remove-task"><span  class="text">Remove</span><input type="radio"   name="edit_tasks_list"  onclick="this.form.submit()"  value="remove_task" value="remove_task" alt="Remove   tasks"></label>

  </form>
  <a class="add-task" href='/new-task' alt="Add a new task"><span class="text">Add</span></a>
</div>

<div class="list-tasks">

<% tasks_to_do = @task_list_database.all_incomplete_tasks %>
<% @edit_tasks_list = params["edit_tasks_list"] %>

<% tasks_to_do.each do |task| %>
  <div class="to-do task-tile">
    <% if !@edit_tasks_list.nil? %>
    <%# when edit_task_list is NOT nil, the user has input if they want to complete or delete so we can give them the buttons! %>
      <form action="" method="post" class="overlay">
      <% if @edit_tasks_list == "mark_completed" %>
          <%# need to associate the id so we know which record  to update -this is in index[0] %>
          <input type="hidden" name="completed[]" value="<%=  task[0] %>">
          <%# if a completed button gets checked, we will add   the date/time as part of the post method in   taskapp.rb %>
          <input class="complete cover-tile" type="submit"  value = "">
      <% else %>
        <input type="hidden" name="removed[]" value="<%=  task[0] %>">
        <input type="hidden" name="removed[]" value="true">
        <input class="remove cover-tile" type="submit"  value = "">

      <% end %>

    </form>
    <% end %>

    <h3>
        <%#Task Title%>
      <%= task[1] %>
    </h3>

    <p>
        <%#Task Description%>
      <%= task[2] %>
    </p>

  </div>
<% end %>
</div>

<h2>Great job! You've finished these tasks: </h2>

<div class="list-tasks">
<% complete_tasks = @task_list_database.all_complete_tasks %>

<% complete_tasks.each do |task| %>
  <div class="task-tile">
      <div action="" method="post" class="overlay already-complete cover-tile">
      </div>

    <h4>
        <%#Task Title%>
      <%= task[1] %>
    </h4>

    <p>
        <%#Task Description%>
      <%= task[2] %>
    </p>

  </div>
<% end %>
</div>
